<%- include('partials/header.ejs') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-5">
            <h1 class="mb-4">New Category</h1>
            <% if (locals.error) { %>
                <div class="alert alert-danger" role="alert">
                    <h5 class="alert-heading">Oops! An error has occurred.</h5>
                    <%= error %>
                </div>
            <% } %>
            <form method="post" action="/submit-category">
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleInput" name="title" required>
                </div>
                <a href="/categories" class="btn btn-light">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
        document.getElementById("titleInput").focus();
    }
</script>

<%- include('partials/footer.ejs') %>