<%- include('partials/header.ejs') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-5">
            <h1 class="mb-4">New Quiz</h1>
            <form method="post" action="/submit-quiz">
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleInput">
                </div>
                <button type="submit" formaction="/quizzes" formmethod="get" class="btn btn-light">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
    
<%- include('partials/footer.ejs') %>