<%- include('partials/header.ejs') %>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
        <div class="col">
            <h1 class="mb-4">Study Notes Home</h1>
            <p>Welcome to my study notes app. Please <a href="/login">login</a> to add notes and create quizes.</p>
        </div>
    </div>
</div>
    
<%- include('partials/footer.ejs') %>